body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    padding-top: 4px;
}

nav ul {
    display: flex;
    list-style-type: none;
    width: 300px;
    justify-content: space-around;
}

nav ul a {
    color: #551980;
    text-decoration: none;
}

nav ul a:hover {
    color: black;
}

nav button {
    width: 40px;
    height: 40px;
    background-color: #551980;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.original:hover {
    filter: invert(0%) sepia(3%) saturate(11%) hue-rotate(24deg) brightness(103%) contrast(103%);
}

.original {
    filter: invert(18%) sepia(22%) saturate(4968%) hue-rotate(254deg) brightness(97%) contrast(112%);
}

.towhite {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(264deg) brightness(105%) contrast(108%);
}

.container {
    display: flex;
}

.ttcontainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 12px;
    width: 600px;
}

.ttcontainer a {
    text-decoration: none;
    width: 130px;
}

.afterdark {
    width: 250px;
}

.ttcontainer a:hover {
    color: black;
}

.ttcontainer h2 {
    color: #551980;
    width: 130px
}

.ttcontainer h2:hover {
    color: black;
}

.indexcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #551980;
}

.indexcontainer h1 {
    font-size: 64px;
}

.indexcontainer p {
    margin-top: -24px;
}

.linkcontainer {
    display: flex;
}

.roundbutton {
    width: 100px;
    height: 50px;
    background-color: #551980;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
    border-radius: 12px;
    margin-right: 12px;
}

.roundbutton:hover {
    transform: scale(1.125);
    cursor: pointer;
}

.lighttimeline {
    display: flex;
    margin-top: 48px;
    padding-left: 36px;
}

.timeline-space {
    margin-right: 64px;
}

.darktimeline {
    display: none;
    margin-top: 48px;
    padding-left: 36px;
}

.streamcontainer {
    margin-top: 64px;
    padding-left: 64px;
}

.streamcontainer iframe {
    border-radius: 12px;
    margin-right: 48px;
}

.str {
    display: flex;
    justify-content: center;
    align-items: center;
}

.str h1 {
    color: #551980;
    margin-bottom: -24px;
}

.transition-fade {
	opacity: 1;
	transition: 1s;
	transform: translateY(0);
}


html.is-animating .transition-fade {
	opacity: 0;
	transform: translateY(100%);
}

.promo {
    position: absolute;
    right: 24px;
    bottom: 12px;
}